* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: #FFE3E3;
}
main{
    padding: 24px;
    
}
a {
    text-decoration-line: none;
    color: inherit;
}
.title{
    font-weight: 800;
}
.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.557);
    padding-inline: 24px;
    background-color: #789DBC;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  
}
.dark-mode-btn{
    /* background-color:#D91656; */
    color:#ff0055;;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 150px;
}

 .countries-container {
    max-width: 1200px;
    margin-top: 16px;
   display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline:auto ;
} 
.dark-mode-header{
    background-color: #021526;
    color: #E2E2B6;
}
.dark-mode-body{
    background-color: #03346E;
}


.country-card.dark-mode-card {
    background-color: #cfd1d7 !important;  
    color: #021526 !important; 
}


.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.534);
    transition: all 0.2s ease-in-out;
    background-color: #f3f0ee;  
    cursor: pointer;
}

.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}
.country-card img {
    width: 100%;
}
.card-text{
    padding-inline: 16px;
}
.card-text p {
    margin-block: 8px;
}
.search-filter-container{
    max-width: 1200px;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}
.search-container{
    background-color:#789DBC;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.587);
    border-radius: 4px;
    padding: 0 16px;
    padding-left: 24px;
    overflow: hidden;
}
.search-container input{
    border: none;
    padding: 16px;
    background-color:#789DBC;
    outline: none;
    cursor: pointer;
    width: 90%;
}
.search-container i{
    margin-right: 8px;
}
.search-container input::placeholder{
    color: #021526;
}
.search-filter-container select{
    padding:12px;
    background-color:#789DBC;
    width:250px;
    outline: none;
    border: none;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.587);
    border-radius: 4px;
}
@media(max-width: 768px){
    .countries-container{
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-content{
        font-size: 10px;
    }
    .dark-mode-btn{
        font-size: 10px;
    }
    .search-filter-container{
        flex-direction: column;
        row-gap: 24px;
    }
    .search-container input{
        padding: 10px;
       
    }
    .search-filter-container select{
        padding: 10px;
    }
}